{% extends '::base.html.twig' %}

{% block title %}Email Search Results{% endblock %}

{% block content %}
<form id="customer_export_email" action="{{ path('customer_export_email') }}" method="post" {{ form_enctype(form) }}>
    <div class="well">
        <div class="row-fluid">
            <div class="span2">
                {{ form_row(form.from, { 'attr' : { 'class' : 'input-medium' } }) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                {{ form_row(form.recipient, { 'attr' : { 'class' : 'input-medium' } }) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                {{ form_row(form.subject, { 'attr' : { 'class' : 'input-large' } }) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                {{ form_row(form.body, { 'attr' : { 'class' : 'input-large', 'style' : 'height: 100px' } }) }}
            </div>
        </div>
        <div class="row-fluid">
            {{ form_rest(form) }}
            <button class="btn btn-primary" type="submit">Email Results</button>
        </div>
    </div>
</form>
{% endblock %}
