<div class="row-fluid">
    <div class="pull-left toggle-subsection">
        <h3><i class="icon-header icon-time"></i> History
            {% if entities|length > 0 %}
                <span class="toggle-info" style="font-size: 12px; font-weight: normal; display: inline;">(Click to expand)</span>
                <span class="toggle-info" style="font-size: 12px; font-weight: normal; display: none;">(Click to hide)</span>
            {% endif %}
        </h3>
    </div>
    <div class="spacer clear"></div>
    {% if entities|length > 0 %}
<div class="subsection" style="display: none">
        <table class="table records_list">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Name <abbr title="Hover over the name to see the description"><span class="label label-info">?</span></abbr></th>
                    <th>Date Completed</th>
                    <th>Assigned By</th>
                    <th>Assigned To</th>
                    <th>Date Due</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.alert.priority }}</td>
                    <td><abbr title="{{ entity.alert.description|striptags }}">{{ entity.alert.name }}  </abbr></td>
                    <td>{{ entity.alert.dateModified.format('m/d/y') }}</td>
                    <td>{{ entity.assignedBy.user }}</td>
                    <td>{{ entity.assignedTo.user }}</td>
                    <td>{{ entity.alert.dateDue.format('m/d/y') }}</td>
                    <td>{{ entity.alert.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <h4>No history.</h4>
    <div class="spacer"></div>
{% endif %}

<script type="text/javascript">
    (function($) {
        $(function() {
            $('.toggle-subsection').css('cursor', 'pointer').click(function() {
                $('.toggle-info', this).toggle();
                var $parent = $(this).parents('.row-fluid');
                $('.subsection',$parent).toggle();
            });
        });
    })(jQuery);
</script>




