{% extends '::base.html.twig' %}

{% block title %}New Agreement{% endblock %}

{% block content %}
<form id="agreement_create" action="{{ path('agreement_create') }}" method="post" {{ form_enctype(form) }}>
<div class="well">
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.description, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="inline checkbox">
                {{ form_widget(form.active) }}
                {{ form_label(form.active) }}
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.length, { 'attr' : { 'class' : 'input-small' } }) }}
        </div>
    </div>
    {{ form_row(form.billingFrequencies, { attr: { class: 'inline checkbox' } }) }}
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.agreementBody, { 'attr' : { 'class' : 'input-xxlarge' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.welcomeLetter, { 'attr' : { 'class' : 'input-xxlarge' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.invoiceIntro, { 'attr' : { 'class' : 'input-xxlarge' } }) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-primary" type="submit">Create Agreement</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
