<div class="row-fluid">
    <div class="pull-left">
        <h3><i class="icon-header icon-list-alt"></i> Notes</h3>
    </div>
    <div class="pull-right">
        <a href="{{ path('officeuser_note_new', { id : entity.id }) }}" class="fancyajax btn btn-primary pull-right"><i class="icon-white icon-plus"></i> Add Note</a>
    </div>
</div>
<div class="spacer"></div>
{% if entities|length > 0 %}
<table class="table records_list">
    <thead>
        <tr>
            <th>Date Created</th>
            <th>Summary</th>
            <th>Body</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.dateCreated.format('m/d/y') }}</td>
            <td><b>{{ entity.summary }}</b></td>
            <td>{{ entity.body }}</td>
            <td>{{ entity.createdBy }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>No notes.</h4>
    <div class="spacer"></div>
{% endif %}
