{% extends '::base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block content %}
<form id="officeuser_note_create" action="{{ path('officeuser_note_create', { id : entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="well">
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.summary, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.body, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-primary" type="submit">Create Note</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
