{% extends '::base.html.twig' %}

{% use 'TerraMarSalesBundle:Customer:_subnav.html.twig' %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
    {% if entities|length > 0 %}
<table class="table records_list">
    <thead>
        <tr>
            <th>Due Date</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for invoice in entities %}
        <tr>
            <td><a href="{{ path('customer_invoice_show', { id: entity.id, invoiceid: invoice.id }) }}">{{ invoice.dateDue }}</a></td>
            <td>{{ invoice.amountDue }}</td>
            <td>{{ invoice.balance }}</td>
            <td>{{ invoice.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
<h4>No invoices.</h4>
<div class="spacer"></div>
    {% endif %}
<a href="{{ path('customer_contract_invoice_new', { id: entity.id, contractid: contract.id }) }}" class="btn btn-primary">New Invoice</a>
{% endblock %}
