{% extends '::base.html.twig' %}

{% use 'TerramarSalesBundle:Customer:_subnav.html.twig' %}

{% block title %}New Alert{% endblock %}

{% block content %}
    <form id="customer_create_alert" action="{{ path('customer_alert_create', { id : entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="well">
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.description, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.priority, { 'attr' : { 'class' : 'input-small' } }) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-primary" type="submit">Create Alert</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
