<div id="user_create_todo_alert" class="alert-box error"></div>
<div class="row popup-header">
    <div class="columns">
        <h3>Add New To Do</h3>
    </div>
</div>
<form id="user_create_todo" action="{{ path('user_create_todo', { id : entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="columns">
            {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.description, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.dueDate, { 'attr' : { 'class' : 'input-small datepicker' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.alertPriority, { 'attr' : { 'class' : 'input-small' } }) }}
        </div>
    </div>
    <div class="row">
        {{ form_rest(form) }}
        <div class="columns">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $('.datepicker').datepicker();
        $('#user_create_todo').validate({
            errorLabelContainer: '#user_create_todo_alert'
        });
    });
</script>
