<div id="customer_credit_create_alert" class="alert-box error"></div>
<div class="row popup-header">
    <div class="columns">
        <h3>Add Credit to Account</h3>
    </div>
</div>
<form id="customer_credit_create" action="{{ path('customer_credit_create', { id : entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="columns">
            {{ form_row(form.amount, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row">
        {{ form_rest(form) }}
        <div class="columns">
            <button class="btn btn-primary" type="submit">Add Credit</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $('#{{ form.amount.vars.id }}').formatCurrency(true);

        $('#customer_credit_create').validate({
            errorLabelContainer: '#customer_credit_create_alert'
        });
    });
</script>
