{% extends '::base.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
<form id="orkestra_user_create" action="{{ path('orkestra_user_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="well">
    <div class="row-fluid">
        <div class="span2">
            {{ form_row(form.firstName, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
        <div class="span2">
            {{ form_row(form.lastName, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            {{ form_row(form.email, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
        <div class="span2">
            {{ form_row(form.username, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            {{ form_row(form.password.first, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
        <div class="span2">
            {{ form_row(form.password.second, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.preferences.timezone, { 'attr' : { 'class' : 'input-large' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.groups, { 'attr' : { 'class' : 'input-large' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <p>Does this user need the following roles?</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="inline checkbox">
                {{ form_widget(form.salesperson) }}
                {{ form_label(form.salesperson) }}
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </div>
</form>
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
    $(function() {
        $('#{{ form.groups.get('id') }}').change(function() {
            if ($('option:selected', this).text() == 'Administrator') {
                $('input[type="checkbox"]').attr('disabled', true);
            } else {
                $('input[type="checkbox"]').attr('disabled', false);
            }
        }).change();
    });
</script>
{% endblock %}
