{% if form.vars.errors|length > 0 %}
<tr class="error-{{ form.get('name') }} error">
    <td colspan="4" class="error" style="padding: 10px">
        <strong>Could not process payment:</strong> {{ form.vars.errors[0].message }}
    </td>
</tr>
{% endif %}
<tr{% if form.vars.errors|length > 0 %} class="error"{% endif %} row="{{ form.get('name') }}">
    <td colspan="2" class="{% if form.vars.errors|length > 0 %}error {% endif %}table-input">Payment: {{ form_widget(form.method, { attr: { class: 'payment-method input-small' } }) }} {{ form_widget(form.account, { attr: { class: 'payment-account input-large' } }) }}</td>
    <td class="{% if form.vars.errors|length > 0 %}error {% endif %}table-input">{{ form_widget(form.amount, { attr: { placeholder: '0.00', class: 'payment-amount input-small' } }) }}</td>
    <td{% if form.vars.errors|length > 0 %} class="error" {% endif %}></td>
    <td{% if form.vars.errors|length > 0 %} class="error" {% endif %}><a href="javascript:;" class="remove-payment pull-right btn btn-small btn-danger">Remove</a></td>
</tr>
