{% extends '::base.html.twig' %}

{% block title %}Office Settings{% endblock %}

{% block content %}
<form id="officeconfiguration_update" action="{{ path('officeconfiguration_update') }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">
        <div class="columns">
            <h4>Credit Card Processing</h4>
        </div>
    </div>
    <div class="row-fluid card-fields">
        {% for child in form.cardCredentials %}
        <div class="span2">
            {{ form_row(child, { attr: { class: 'input-medium' } }) }}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="columns">
            <h4>ACH Processing</h4>
        </div>
    </div>
    <div class="row-fluid ach-fields">
        {% for child in form.achCredentials %}
        <div class="span2">
            {{ form_row(child, { attr: { class: 'input-medium' } }) }}
        </div>
        {% endfor %}
    </div>
    <div class="hidden">
        <input type="hidden" id="card-transactor" name="card-transactor" />
        <input type="hidden" id="ach-transactor" name="ach-transactor" />
    {{ form_rest(form) }}
    </div>
    <div class="spacer"></div>
    <div class="row-fluid">
        <div class="columns">
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </div>
</form>
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
    $(function() {
        var _$cardCredentials = $('#card-transactor'),
            _$achCredentials = $('#ach-transactor');

        function _bindCardForm() {
            $('#{{ form.cardCredentials.transactor.get('id') }}').change(function() {
                _$cardCredentials.val($(this).val());
                $.ajax({
                    url: '{{ path('officeconfiguration_edit') }}',
                    data: {
                        'card-transactor': $(this).val()
                    },
                    success: function(response) {
                        $('.card-fields').html($('.card-fields', response).html());
                        _bindCardForm();
                    }
                });
            });
        }

        function _bindAchForm() {
            $('#{{ form.achCredentials.transactor.get('id') }}').change(function() {
                _$achCredentials.val($(this).val());
                $.ajax({
                    url: '{{ path('officeconfiguration_edit') }}',
                    data: {
                        'ach-transactor': $(this).val()
                    },
                    success: function(response) {
                        $('.ach-fields').html($('.ach-fields', response).html());
                        _bindAchForm();
                    }
                });
            });
        }

        _bindCardForm();
        _bindAchForm();

    });
</script>
{% endblock %}
