{% extends "::base.html.twig" %}

{% use 'TerraMarSalesBundle:Office:_indexSubnav.html.twig' %}

{% block title %}All Offices{% endblock %}

{% block content %}
{% if entities|length > 0 %}
    <table class="table records_list">
    <thead>
        <tr>
            <th>Parent</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.parent }}</td>
            <td><a href="{{ path('company_show', { id: entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.contactAddress|default('n/a') }}</td>
            <td>{{ entity.contactAddress.phone|default('n/a') }}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('company_edit', { 'id': entity.id }) }}">EDIT</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>No offices.</h4>
    <div class="spacer"></div>
{% endif %}
{% endblock %}
