{% extends "::base.html.twig" %}

{% use 'TerraMarSalesBundle:Office:_subnav.html.twig' %}

{% block title %}Companies{% endblock %}

{% block mainstage %}
<div class="row">
         <span class="pull-left"> <h4>Parent Company: {{ parent.name }} </h4> </span>
         <a href="{{ path('branch_new', { 'id' : parent.id }) }}" class="fancyajax btn btn-primary pull-right"><i class="icon icon-add"></i> Add Branch</a>
</div>
<br />
<table class="table records_list">
    <thead>
        <tr>
            <th>Branch Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th class="delete-record"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="clickable" entity-id="{{ entity.id }}">
            <td>{{ entity.name }}</td>
            <td>{{ entity.contactAddress }}</td>
            <td>{{ entity.contactAddress.phone }}</td>
            <td class="delete-record"><a href="{{ path('branch_delete', { 'id' : entity.id }) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
    $(function() {
        bindClickableTable('.table', '{{ path('company_edit', { 'id' : '_id_' }) }}');
    });
</script>
{% endblock %}
