{% extends "::base.html.twig" %}

{% use 'TerraMarSalesBundle:Office:_subnav.html.twig' %}

{% block title %}All Branches{% endblock %}

{% block mainstage %}
<br />
<table class="table records_list">
    <thead>
        <tr>
            <th>Branch Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Parent </th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="clickable" entity-id="{{ entity.id }}">
            <td>{{ entity.id }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.contactAddress }}</td>
            <td>{{ entity.contactAddress.phone }}</td>
            <td>{{ entity.parent.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
    $(function() {
        $('.view-branch').click(function(e) {
            e.stopPropagation();
        });
        bindClickableTable('.table', '{{ path('company_edit', { 'id' : '_id_' }) }}');
    });
</script>
{% endblock %}
