{% extends '::base.html.twig' %}

{% use 'TerraMarSalesBundle:Office:_subnav.html.twig' %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<div class="well">
    <table class="table summary">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Last Modified</th>
                <td>{{ entity.dateModified }}</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ entity.dateCreated }}</td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <div class="form-buttons">
        <a class="btn" href="{{ path('company_edit', { 'id': entity.id }) }}">Edit Company</a>
    </div>
</div>
{% endblock %}
