{% extends '::base.html.twig' %}

{% use 'TerramarSalesBundle:Customer:_subnav.html.twig' %}

{% block title %}New To Do{% endblock %}

{% block content %}
<form id="customer_todo_create" action="{{ path('customer_todo_create', { id : entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="well">
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.description, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.dueDate, { 'attr' : { 'class' : 'input-small datepicker' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.alertPriority, { 'attr' : { 'class' : 'input-small' } }) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            {{ form_row(form.assignedTo, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-primary" type="submit">Create To Do</button>
        </div>
    </div>
</div>
</form>

{% endblock %}
