<div id="customer_todo_create_alert" class="alert-box error"></div>
<div class="row popup-header">
    <div class="columns">
        <h3>Add New To Do</h3>
    </div>
</div>
<form id="customer_todo_create" action="{{ path('customer_todo_create', { id: entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="columns">
            {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.description, { 'attr' : { 'class' : 'input-xlarge' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.dueDate, { 'attr' : { 'class' : 'input-small datepicker' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.alertPriority, { 'attr' : { 'class' : 'input-small' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            {{ form_row(form.assignedTo, { 'attr' : { 'class' : 'input-medium' } }) }}
        </div>
    </div>
    <div class="row">
        {{ form_rest(form) }}
        <div class="columns">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $('.datepicker').datepicker();
        $('#customer_todo_create').validate({
            errorLabelContainer: '#customer_todo_create_alert'
        });
    });
</script>
